<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TIMAppID</key>
	<string>1600024914</string>
	<key>SMONMeiridasai</key>
	<string>K#0*WdiaB_ZGbV2T9l</string>
</dict>
</plist>
