<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPrivacyAccessedAPITypes</key>
	<dict>
		<key>NSPrivacyAccessedAPICategoryUserDefaults</key>
		<string>使用本地缓存来存储用户信息，帮助您实现持久化登录。</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>GenSekiGothic-M.ttc</string>
		<string>GenSekiGothic-B.ttc</string>
	</array>
</dict>
</plist>
